.notification {
    background-color:$brand-color;
    font-size: 1.2em;
    text-align: center;
    border-radius: 3px;
    padding: 5px 20px;
    justify-content: center;
    color: #ffffff;
    opacity: .9;
    display: inline-block;
}

.notificationWrapper {
    position:fixed;
    bottom:5%;
    width: 100%;
    text-align: center;
  }